.navbar-brand{
  color: white;
}  
a {
    color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0,0,0,0.25)
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}
.flip-card-front img {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.flip-card-front {
  background: #353a40;
}
.image-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.flip-card-back {
	background-color: #353a40;
	color: white;
  transform: rotateY(180deg);
  padding: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.container-card {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.ui-datepicker-calendar {
  display: none;
}
.card {
  width: 300px;
}
.container-video {
  margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.deck {
  max-height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gamePicker {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
#gameHeader {
  color:rgba(0, 0, 0, 0.75);
  font: bold;
  padding: 10px;
  background: rgb(0,0,0,0.25);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}
#vidHeader {
  color: rgba(0, 0, 0, 0.75);
  font: bold;
  padding: 10px;
  background: rgb(0,0,0,0.25);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}
#showMoreGames {
  margin: 20px;
}
.consoleButtons{
  display: flex;
}
.consoleButtons p{
  margin:10px ;
}
.ui-datepicker-current, .ui-datepicker-next, .ui-datepicker-prev { 
  display: none; 
}
.ui-datepicker {
display: flex;
padding: 10px;
}
.ui-datepicker-year,.ui-datepicker-month {
  margin-right: 5px;
}
#datepicker {
  width: 198.25px;
}
.videos {
  background-color: #202020;
}

.btn-primary {
  background-color:#FF1E01;
}
button:disabled {
  background-color: #202020;
  color: #949494;
}
#accordion{
  margin-bottom: 50px;
}
.pageInstructions {
  margin-left: 20px;
  padding-top: 10px;
}